body {
  font-family: 'lato', sans-serif; font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent; overflow: hidden;
}

* { box-sizing: border-box; }