.truncate { white-space: nowrap; overflow: hidden; text-overflow: ellipsis; line-height: 120%; }
.truncate-as-two-lines {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  word-break: break-all;
}