@import "mafia";

#mafia-game-chat-view {
  .message-list {
    position: absolute;
    top: 0; left: 0; right: 0;
    bottom: 51px; padding: 10px 10px 30px;
    @include touch-overflow;
    font-size: 14px;
  }
  .message-actions {
    color: black;
    position: absolute;
    left: 0; right: 0; bottom: 0;
    height: 51px; line-height: 50px;
    background: white;
    border-top: 1px solid white;

    .bullet {
      position: absolute;
      left: 0; top: 5px; bottom: 0; width: 40px; text-align: center;
      height: 40px; line-height: 40px; color: #999;
      font-size: 20px; border-right: 1px solid #ddd;
      pointer-events: none;
    }
    input[type='text'] {
      width: 100%;
      margin: 0; border: 0; height: 50px; line-height: 50px;
      padding: 0 100px 0 46px; color: black;
    }
    input[type='submit'] {
      position: absolute;
      right: 0; top: 0; height: 50px;
      width: 100px; border: none; @include border-radius(0);
      background: #ddd; color: #333;
    }
  }


  .message-item {
    margin: 0;
    .item-label {
      position: relative;
      padding: 5px 0 5px 50px;
    }
    .avatar {
      position: absolute; top: 0; left: 0; width: 44px; height: 44px;

    }
    .mafia-avatar {
      width: 44px; height: 44px; @include border-radius(50%);
      border: 1px solid rgba(white, 0.3);
    }
    .item-name { font-weight: bold; font-size: 14px; margin-bottom: 4px; }
    .item-message {
      line-height: 120%;
      @include inline-block; background: rgba(white, 0.7); padding: 8px 13px;
      @include border-radius(0 17px 17px 17px); color: black; font-size: 16px;
      @include box-shadow(rgba(black, 0.3) 1px 4px 0);

    }
    &.my-message {
      .item-label { text-align: right; padding: 5px 0; }
      .item-name { display: none; }
      .avatar { display: none; }
      .item-message {
        background: white;
        @include border-radius(17px 0 17px 17px);
      }
    }
  }



}