@import "mafia";

#mafia-game-view {
  position: absolute;
  left: 0; top: 0; right: 0; bottom: 0;
  background: $background-color;
  z-index: 1;
  .game-view-header, .game-view-body, .section-btns {
    position: absolute;
  }
  .game-view-header {
    top: 0; left: 0; right: 0; height: 56px;
    line-height: 56px;
    border-top: 1px solid rgba(white, 0.1);
    padding: 0 0 0 50px; border-bottom: 1px solid rgba(black, 0.3);
    .bullet {
      position: absolute;
      left: 4px; top: 0; height: 56px; width: 46px;
      line-height: 56px; text-align: center;
      font-size: 24px; color: yellow;
    }
    .item-name {
      font-size: 22px;
      .count { font-weight: bold; }
    }
    .section-btns {
      right: 10px; top: 0;
      font-size: 0;
    }
    .section-btn {
      font-size: 14px; font-weight: bold;
      border: 1px solid rgba(white, 0.4);
      @include inline-block;
      border-left-width: 0; padding: 0 10px;
      line-height: 30px; height: 32px;
      &:first-child {
        border-left-width: 1px;
        @include border-radius(4px 0 0 4px);
      }
      &:last-child {
        @include border-radius(0 4px 4px 0);
      }
    }
  }
  .game-view-body {
    &:after {
      position: absolute; content: ''; left: 0; top: 0; right: 0;
      height: 15px; pointer-events: none;
      @include background-image(linear-gradient(180deg, rgba(black, 0.15) 0, rgba(black, 0) 1));
      z-index: 100;
    }
    @include transition(top 0.3s);
    z-index: 2;
    left: 0; top: 56px; right: 0; bottom: 0;
    @include touch-overflow;
    .user-item {
      position: relative;
      height: 76px; line-height: 66px;
      padding: 5px 110px;
      text-align: center;
      .user-info {
        position: absolute;
        width: 100px;
        span { display: block; margin: 0 auto; font-stretch: ultra-expanded; }
        &.left { left: 5px; }
        &.right { right: 5px; }
      }
      .userName {
        font-size: 14px;
        line-height: 16px;
      }

      .arrow {
        font-size: 50px;
      }
    }
  }

  .game-view-notification {
    position: absolute;
    left: 0; top: 56px; right: 0;
    z-index: 4; overflow: hidden;
    background: #FFFC9F; height: 0;
    @include transition(height 0.3s);
    .countdown-view {
      position: absolute;
      left: 0; right: 0; bottom: 0;
      color: rgba(black, 0.8); font-weight: bold;
      height: 30px; line-height: 30px; text-align: center;
    }
  }
  &.status-day {
    $light-bg: lighten($bg-sky, 10%);
    .game-view-header { background: $light-bg; }
    .game-view-body { background: rgba($light-bg, 0.8); }
    .visible-status-night { display: none; }
  }
  &.status-night {
    $light-bg: lighten($background-color, 15%);
    .game-view-header { background: $light-bg; }
    .game-view-body { background: rgba($light-bg, 0.8); }
    .visible-status-day { display: none; }
  }

  &.notification-show {
    .game-view-body { top: 88px; }
    .game-view-notification { height: 32px; }
  }
}